<footer class="first">
  <div class="container">
    <div class="sobre w50 left">
      <h2>Sobre a Empresa</h2>
      <p>Não sediada, e atuando no ramo de Programação e Cursos Online, a Tomorrow Treinamentos tem como principal objetivo, espalhar o conhecimento por um preço único e acessível para todos.</p>
      <br>
      <p>Plataforma desenvolvida com <i class="far fa-heart"></i> por Vinícius Trindad.e</p>
      <p>É legalmente proibida a reprodução/distribuição de todo conteúdo aqui publicado.</p>
    </div><!-- sobre -->
    <div class="contato w50 right">
      <h2>Atendimento ao Cliente</h2>
      <p><strong>E-mail:</strong> tomorrow@treinamentos.com</p>
      <p><strong>WhatsApp:</strong> +55 (xx) xxxxx-xxxx</p>
      <br>
      <p>Atendimento de Segunda à Sexta</p>
      <p><strong>(Das 8h às 20h)</strong></p>
    </div><!-- contato -->
  </div><!-- container -->
  <div class="clear"></div><!-- clear -->
</footer><!-- first -->
<footer class="final">
  <div class="container">
    <a href="/">Tomorrow Treinamentos &copy; 2021</a>
  </div><!-- container -->
  <div class="clear"></div><!-- clear -->
</footer><!-- final -->