@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*:hover,
*:focus {
  outline: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2%;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 49.5%;
}

.w33 {
  width: 33%;
}