<aside class="left">
  <h2 class="title">Tomorrow Treinamentos</h2>
  <h4 class="subtitle">Painel de Controle</h4>
  <div class="menu">
    <h2>Treinamentos</h2>  
    <a href="/admin/cadastrar-treinamento">Cadastrar Treinamento</a>
    <a href="/admin/cadastrar-modulo">Cadastrar Módulo</a>
    <a href="/admin/cadastrar-aula">Cadastrar Aula</a>
    <h2>Gerenciamento</h2>
    <a href="/admin/listar-treinamentos">Listar Treinamentos</a>
    <a href="/admin/listar-modulos">Listar Módulos</a>
    <a href="/admin/listar-aulas">Listar Aulas</a>
    <h2>Administração</h2>
    <a href="/admin/gerenciar-plataforma">Gerenciar Plataforma</a>
    <a href="/admin/cadastrar-instrutores">Cadastrar Instrutores</a>
    <a href="/admin/alunos-cadastrados">Alunos Cadastrados</a>
    <h2>Usuário</h2>
    <a href="/admin/editar-usuario">Editar Usuário</a>
  </div><!-- menu -->
</aside>