<header>
  <div class="buttons right">
    <a href="sair" class="sair right">Sair</a>
    <a href="/admin" class="pagina-inicial right">Página Inicial</a>
    <a href="/" class="ead right">EAD</a>
  </div><!-- buttons right -->
  <div class="clear"></div>
</header>