<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Tomorrow Treinamentos - Contato</title>

  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <%- include('includes/header') %>
  <section class="contato">
    <div class="container">
      <div class="form-box">
        <h2 class="title">Envie-nos uma Mensagem!</h2>
        <h3 class="title">Receberemos ela via E-mail</h2>
        <form method="post">
          <div class="input-box">
            <label for="nome">Nome *</label>
            <input type="text" id="nome" name="nome" required>
          </div><!-- input-box -->
          <div class="input-box w50 left">
            <label for="email">E-mail *</label>
            <input type="email" id="email" name="email" required>
          </div><!-- input-box -->
          <div class="input-box w50 right">
            <label for="tel">Telefone</label>
            <input type="tel" id="tel" name="tel">
          </div><!-- input-box -->
          <div class="input-box">
            <label for="assunto">Assunto</label>
            <input type="text" id="assunto" name="assunto">
          </div><!-- input-box -->
          <div class="input-box">
            <label for="message">Mensagem *</label>
            <textarea name="message" id="message" required></textarea>
          </div><!-- input-box -->
          <div class="input-box" id="centered-button">
            <input type="submit" name="enviar" value="Entrar em Contato">
          </div><!-- input-box -->
        </form>
      </div><!-- form-box -->
    </div><!-- container -->
  </section><!-- contato -->
  <%- include('includes/footer') %>
</body>
</html>